[data-collapse-trigger] {
  cursor: pointer;

  svg {
    transition: .3s;
  }
  &.opened svg {
    transform: rotateZ(-180deg);
  }
}

.with-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;

  svg {
    //margin-right: 10%;
  }
}

h3[data-collapse-trigger] {
  color: #171717;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: -0.4px;
}

.job-search__filter-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 10px;

  label {
    font-weight: 500;
    color: #171717;
    font-size: 14px;
    margin: 7px 0;
    display: flex;
    justify-content: space-between;

    .count {
      color: #8F92A1;
      background: rgba(#8F92A1, .1);
      padding: 3px 8px;
      border-radius: 6px;
    }
  }
}

.job-search__results-table {
  width: 100%;
  tr {
    border-bottom: 1px solid rgba(#8F92A1, .1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    td:nth-child(3) {
      width: 25%;
    }

    td:nth-child(4) {
      width: 17%;
    }

    &.bookmark {
      width: 10%;
      display: flex;
      justify-content: flex-end;
    }

    td {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      padding: 32px 20px;

      span {
        font-size: 12px;
      }

      &.title {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h4 {
          font-size: 16px;
          max-width: 246px;
          margin-bottom: 8px;
          margin-top: 0;
        }
      }
    }
  }
}

.msg {
  font-size: 12px;
  padding: 2px 7px;
  border-radius: 8px;

  &.blue {
    color: #0052CC;
    background: rgba(#0052CC, .2);
  }

  &.green {
    color: #00875A;
    background: rgba(#00875A, .2);
  }
}