.two-columns {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .item {
    margin-bottom: 30px;
  }
}

.first-column {
  width: 730px;
}

.second-column {
  width: 350px;

  .card-body {
    padding: 24px 24px;
  }

  .long-details div{
    text-align: left;
  }
}
