@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Manrope:wght@200;300;400;500&family=Oswald:wght@200;300;400;500&display=swap);
* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0 0 25px 0;
  background: #F9F9FA;
  font-family: "DM Sans";
}

.body-start {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

input, button {
  font-family: "DM Sans";
}

input::-moz-placeholder {
  font-weight: bold;
  color: #8F92A1;
}

input:-ms-input-placeholder {
  font-weight: bold;
  color: #8F92A1;
}

input::placeholder {
  font-weight: bold;
  color: #8F92A1;
}

.mr-24 {
  margin-right: 24px;
}

.btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 40px;
  font-size: 15px;
  color: #fff;
  transition: 0.3s ease;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  padding: 0 24px;
}
.btn.btn-primary {
  background: #0052CC;
  color: #fff;
}
.btn.btn-primary:hover {
  background: #0142a1;
}
.btn.btn-light {
  background: rgba(143, 146, 161, 0.1);
  color: #000;
}

.pre-append-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 24px;
}
.pre-append-btn svg {
  margin-right: 10px;
  margin-left: -2px;
}

.container {
  width: 1110px;
  margin: 0 auto;
}

.border-circle {
  border-radius: 50%;
}

.text-muted {
  color: #8F92A1;
}

header {
  height: 324px;
  width: 100%;
  background: url("/assets/img/Top.jpg");
}
header .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header .top-menu .navigation {
  display: flex;
  justify-content: start;
}
header .top-menu a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: start;
  margin-right: 40px;
  opacity: 0.6;
}
header .top-menu a.active {
  opacity: 1;
}
header .top-menu a img {
  margin-right: 14px;
  opacity: 1 !important;
}
header .top-menu .right-block {
  display: flex;
}
header .top-menu .right-block .user {
  margin-left: 44px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 76px;
}
header .top-menu .bell {
  display: flex;
}
header .top-menu .bell .notify-count {
  position: absolute;
  background: #171717;
  color: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  transform: translateX(6px) translateY(4px);
}
header .header-search {
  width: 100%;
  height: 80px;
  background: #fff;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  margin-top: 64px;
}
header .header-search input {
  border: none;
  height: 50px;
  width: 350px;
  margin-left: 24px;
}
header .header-search .first {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-search .second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 1px solid #F4F5F6;
  height: 100%;
  padding-left: 32px;
}
header .header-search .second input {
  width: 278px;
}
header .header-search .final button {
  height: 40px;
  width: 150px;
  font-size: 13px;
  font-weight: 600;
}

.card {
  background: #FFFFFF;
  border: none;
  border-radius: 24px;
  width: 100%;
}
.card .card-body {
  padding: 32px;
}
.card .card-line {
  height: 1px;
  width: 100%;
  background: #8F92A1;
  opacity: 0.1;
}

.long-details {
  display: flex;
  justify-content: space-around;
}
.long-details div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.long-details div span {
  font-size: 12px;
}
.long-details div h5 {
  margin: 0;
  font-size: 14px;
}

.product-details p {
  font-size: 14px;
  font-weight: 100;
  color: #171717;
}

.product-media__body {
  width: 100%;
  overflow: hidden;
}

.product-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-header .author {
  display: flex;
  align-items: center;
  justify-content: start;
}
.product-header .author img {
  margin-right: 24px;
}
.product-header .author h4 {
  margin-bottom: 6px;
  font-size: 16px;
  margin-top: 0;
}
.product-header .author span {
  font-size: 14px;
}
.product-header .more {
  display: flex;
  flex-direction: column;
}
.product-header .more .more-block {
  display: flex;
  justify-content: start;
  align-items: center;
}
.product-header .more .more-block span {
  font-size: 12px;
}
.product-header .more .more-block .vertical-line {
  width: 1px;
  height: 16px;
  background: rgba(143, 146, 161, 0.1);
  margin: 0 15px;
}
.product-header .more .more-block div {
  display: flex;
  justify-content: start;
  align-items: center;
  color: #8F92A1;
  font-weight: 500;
}
.product-header .more .more-block div svg {
  margin-right: 14px;
}
.product-header .more .rating {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 6px;
}
.product-header .more .rating span {
  margin-right: 7px;
}

img.avatar {
  border-radius: 16px;
  width: 56px;
  height: 56px;
}

.user-avatar.online::after {
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background: #36B27E;
  border: 2px solid #fff;
  position: absolute;
  margin-left: -35px;
  margin-top: 45px;
}

ul.nav-tabs {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}
ul.nav-tabs li {
  font-weight: 500;
  cursor: pointer;
  padding-bottom: 26px;
  border-bottom: 2px solid rgba(0, 82, 204, 0);
  transition: 0.3s ease;
}
ul.nav-tabs li.active {
  color: #0052CC;
  border-bottom: 2px solid #0052cc;
}

.tabs .tab {
  display: none;
}
.tabs .tab.active {
  display: block;
}

.profile-experience {
  padding: 0 24px 24px 24px;
}
.profile-experience button {
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0;
  width: 147px;
}
.profile-experience button svg {
  margin-right: 5px;
}
.profile-experience button.btn-light {
  color: #8F92A1;
}

.flex-justify {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
